DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
results/
__pycache__/
docs/sphinx-docs/_build/

images/*
!images/__init__.py
!images/testA2testB

images_gen/*
!images_gen/__init__.py


runs/D_B/*
runs/D_A/*
runs/G_B2A/*
runs/G_A2B/*
runs/Losses/*
runs/Metrics/*
!runs/__init__.py
!runs/D_B/__init__.py
!runs/D_A/__init__.py
!runs/G_B2A/__init__.py
!runs/G_A2B/__init__.py

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

environments/py310/*